#Addaps__background {
  background: linear-gradient(
    200.96deg,
    #fedc2a -29.09%,
    #dd5789 51.77%,
    #7a2c9e 129.35%
  );
  height: 100%;
  width: 100%;
  position: fixed;
}

#Minimap__detection-zone {
  height: 100%;
  width: 20px;
  background: transparent;
  position: fixed;
  right: 0;
}
