.BrowserTopBar__container {
  background-color: var(--color-background-primary);
  height: 25px;
  display: flex;
  flex-direction: row;
  padding-left: 10px;
  cursor: grab;
}

.BrowserTopBar__title {
  display: flex;
  flex-grow: 1;
  color: var(--color-text-primary);
  align-items: center;
  text-align: left !important;
  justify-content: left !important;
  font-size: 14px;
}

.BrowserTopBar__controls {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
}

.BrowserTopBar__control-button {
  color: var(--color-icon-primary);
  padding: 2px 15px;
  border-radius: 3px;
  cursor: pointer;

  svg {
    height: 18px;
  }

  svg:hover {
    height: 20px;
  }
}

.BrowserTopBar__control-button:hover {
  background-color: var(--color-background-5);
}

.BrowserTopBar__favicon {
  margin-right: 5px;
  margin-top: 4px;
}

.close-button:hover {
  background-color: rgba(255, 0, 0, 0.5) !important;
}
