#browsing-settings-default-webpage {
  width: 100%;
}

#browsing-settings-default-width, #browsing-settings-default-height {
  width: 50px;
}

.Settings__item-title {
  font-weight: bold;
  margin-bottom: 10px;
}
