.BrowserControlBar__container {
  height: 25px;
  display: flex;
  flex-direction: row;
  background-color: var(--color-background-secondary);
}

.BrowserControlBar__controls {
  display: flex;
  flex-direction: row;
  width: 30%;
  justify-content: space-around;
  align-items: center;
  color: var(--color-text-primary);
}

.BrowserControlBar__container .MuiInput-root {
  margin-top: 0 !important;
}

.BrowserControlBar_url-input {
  flex-grow: 1;
}

.BrowserControlBar_url-input input {
  font-size: 14px;
  background-color: var(--color-icon-secondary);
  color: var(--color-text-secondary);
  border-radius: 15px;
  height: 15px;
  padding-left: 10px;
}

.BrowserControlBar__control svg {
  height: 18px;
}

.BrowserControlBar__control svg:hover {
  height: 20px;
}
