#AppControls__container {
  display: flex;
  flex-direction: row;
  -webkit-app-region: no-drag;
  margin-left: 0px;

  .AppControls__item {
    padding: 5px 15px;
    border-radius: 3px;
    display: flex;
    align-items: center;
    cursor: pointer;
    color: var(--color-icon-primary);

    svg {
      height: 18px;
    }

    svg:hover {
      height: 20px;
    }
  }

  .AppControls__item:hover {
    background-color: var(--color-background-5) !important;
  }

  .close-button:hover {
    background-color: rgba(255, 0, 0, 0.5) !important;
  }
}
