#LeftBar__browserFavContainer {
  position: fixed;
  height: 100%;
  display: flex;
  flex-direction: column;
  width: 50px;
  align-items: center;
  z-index: 10;
  background-color: var(--color-background-tertiary);

  .LeftBar__browserContainer:hover {

    .LeftBar__closeBrowser {
      display: block;
    }

    .LeftBar__browserFav {
      cursor: pointer;
      background-color: var(--color-background-5);
    }
  }

  ul {
    list-style: none;
    padding: 0;
  }

  .LeftBar__closeBrowser,
  .LeftBar__maximizeBrowser {
    position: relative;
    transform: translate(26px, 11px);
    color: var(--color-icon-primary);
    margin-top: -19px;
    cursor: pointer;

    svg {
      height: 15px;
    }
  }
}

.LeftBar__closeBrowser {
  display: none;
}

.LeftBar__maximizeBrowser {
  display: block;
}

.LeftBar__browserFav {
  cursor: pointer;
  padding: 7px;
  margin-bottom: 4px;
  border-radius: 3px;

  &.selected {
    background-color: var(--color-background-5);
  }
}

.LeftBar__browserFav:hover {
  cursor: pointer;
  background-color: var(--color-background-5);
}

.LeftBar__browserFavImg {
  width: 24px;
  height: 24px;
  pointer-events: none;
  cursor: pointer;
}
