#LeftBar__chatItems {
  position: fixed;
  bottom: 33px;
  height: auto;
  display: flex;
  flex-direction: column;
  width: 50px;
  align-items: center;
  z-index: 10;
  background-color: var(--color-background-tertiary);
  padding-bottom: 33px;

  ul {
    list-style: none;
    padding: 0;
  }
}

.LeftBar__chatItem{
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  height: 30px;
  width: 30px;
  background: linear-gradient(200.96deg, #c4a320, #a0455e, #5c2370);
  color: white;
}

.LeftBar__chatItemContainer {
  display: flex;
  justify-content: center;
  width: 30px;
  padding: 4px;
  border-radius: 4px;
  cursor: pointer;
  
  &:hover {
    background-color: var(--color-background-5);
  }
}

#LeftBar__browserFavContainer {
  position: fixed;
  height: 100%;
  display: flex;
  flex-direction: column;
  width: 50px;
  align-items: center;
  z-index: 10;
  background-color: var(--color-background-tertiary);
  padding-bottom: 33px;

  .LeftBar__browserContainer:hover {

    .LeftBar__closeBrowser, 
    .LeftBar__maximizeBrowser {
      display: block;
    }

    .LeftBar__browserFav {
      cursor: pointer;
      background-color: var(--color-background-5);
    }
  }

  ul {
    list-style: none;
    padding: 0;
  }

  .LeftBar__closeBrowser,
  .LeftBar__maximizeBrowser {
    position: relative;
    display: none;
    transform: translate(26px, 11px);
    color: var(--color-icon-primary);
    margin-top: -19px;
    cursor: pointer;

  }
}

.LeftBar__closeBrowser {

  svg {
    height: 15px;
  }
}

.LeftBar__maximizeBrowser {
  top: 3px;
  right: 3px;
  pointer-events: none;

  svg {
    height: 12px;
  }
}

.LeftBar__browserFav {
  cursor: pointer;
  padding: 7px;
  margin-bottom: 4px;
  border-radius: 3px;

  &.selected {
    background-color: var(--color-background-5);
  }
}

.LeftBar__browserFav:hover {
  cursor: pointer;
  background-color: var(--color-background-5);
}

.LeftBar__browserFavImg {
  width: 24px;
  height: 24px;
  pointer-events: none;
  cursor: pointer;
}

.LeftBar__maximizeBrowser ~ .LeftBar__browserFav img {
  filter: grayscale(70%);
  opacity: 0.3;
}