.LeftBar__browserFavContainer {
  position: fixed;
  top: 0px;
  height: calc(100% - 30px);
  padding-top: 70px;
  display: flex;
  flex-direction: column;
  width: 50px;
  align-items: center;
  z-index: 10;
  background-color: var(--color-background-tertiary);
}

.LeftBar__browserFav {
  margin-bottom: 10px;
}

.LeftBar__browserFavImg {
  width: 24px;
  height: 24px;
}

.LeftBar__browserFavImg:hover {
  height: 26px;
  width: 26px;
}
