#TopBar__container {
  display: flex;
  height: 30px;
  position: fixed;
  width: 100%;
  background-color: var(--color-background-tertiary);
  color: var(--color-text-primary);
  z-index: 1000;
  -webkit-app-region: drag;
  border-bottom: 1px solid var(--color-border),
}

#TopBar__tabs-container {
  display: flex;
  flex-grow: 1;
  align-items: center;
  padding-left: 25px;

  .TopBar__closeTab {
    color: var(--color-icon-primary);
    transform: translateX(-3px);
    position: relative;
    align-items: center;
    display: flex;
    cursor: pointer;

    svg {
      height: 15px;
    }

    svg:hover {
      height: 17px;
    }
  }

  .TopBar__tab {
    display: flex;
    padding-left: 10px;
    padding-right: 25px;
    align-items: center;
    font-size: 14px;
    border-radius: 3px;
    color: var(--color-text-secondary);
    background: var(--color-icon-secondary);
    margin-right: -20px;
    height: 20px;
    -webkit-app-region: no-drag;
    cursor: pointer;
    border: 1px solid var(--color-border);

    &.selected {
      background-color: var(--color-background-4) !important;
    }

    input {
      color: black;
      background-color: white;
    }

    .MuiInput-root {
      margin-top: 0 !important;
    }
  }
}

.TopBar__tab:hover {
  background-color: var(--color-background-4) !important;
}

#TopBar__menu-container {
  display: flex;
  padding-right: 150px;
  -webkit-app-region: no-drag;
}

.TopBar__menu-item {
  margin-right: 5px;
  display: flex;
  align-items: center;
  padding: 5px;
  border-radius: 3px;

  svg {
    height: 18px;
  }

  svg:hover {
    height: 20px;
  }
}

.TopBar__menu-item:hover {
  background-color: var(--color-background-5);
}

#TopBar__addBoard {
  justify-content: center;
  display: flex;
  align-items: center;
  -webkit-app-region: no-drag;
  padding: 5px;
  border-radius: 3px;

  svg {
    color: var(--color-icon-primary);
    height: 18px;
  }

  svg:hover {
    height: 20px;
  }
}

#TopBar__addBoard:hover {
  background-color: var(--color-background-5);
}

browser-action-list {
  -webkit-app-region: no-drag;
  margin-right: 20px;
}
