.chat-view {
    
    display: none;
    width: calc(100% - 50px);
    height: 100%;
    position: fixed;
    margin-left: 50px;
    background: linear-gradient(200.96deg, #c4a320, #a0455e, #5c2370);
    z-index: 10;

    &.selected {
        display: flex;
    }
}