#Board__container {
  display: flex;
  width: calc(100% - 235px);
  top: 0px;
  left: 50px;
  position: absolute;
  overflow: hidden;
  margin-right: 185px;


  .Board__edge-snap-left {
    border: 5px dotted var(--color-text-primary);
    left: 60px;
    top: 10px;
    bottom: 10px;
    right: calc(50% + 30px);
    height: calc(100% - 20px);
    position: fixed;
    pointer-events: visible;
    display: none;
    background: var(--color-background-primary);
    z-index: 99;
    opacity: 0.3;
  }

  .Board__edge-snap-right {
    border: 5px dotted var(--color-text-primary);
    left: calc(50% - 10px);
    top: 10px;
    bottom: 10px;
    right: 195px;
    height: calc(100% - 20px);
    position: fixed;
    display: none;
    z-index: 99;
    opacity: 0.3;
    background: var(--color-background-primary);
  }

  .Board__edge-snap-maximized {
    border: 5px dotted var(--color-text-primary);
    left: 60px;
    top: 10px;
    bottom: 10px;
    right: 10px;
    position: fixed;
    display: none;
    z-index: 99;
    opacity: 0.3;
    background: var(--color-background-primary);
  }
}

.Board__is-maximized {
  height: 100%;
  max-height: 100%;
}

.Board__isnt-maximized {
  min-height: 1000vh;
}
