#ButtonAddBrowser {
  height: 18px;
  color: var(--color-icon-primary);
  padding: 7px;
  border-radius: 3px;
  cursor: pointer;
}

#ButtonAddBrowser:hover {
  height: 20px;
  background-color: var(--color-background-5);
}
