body.light-theme {
  --color-text-primary: rgba(0, 0, 0, 0.87);
  --color-text-secondary: white;
  --color-background-primary: rgb(231, 236, 240);
  --color-background-secondary: rgb(221, 231, 240);;
  --color-background-tertiary: rgb(220, 226, 231);;
  --color-icon-primary: #4285e9;
  --color-icon-secondary: #1c2736;
}
